*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
body{
    overflow: hidden;
    overflow-y: scroll;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Baloo 2', cursive; */
}
.active{
    color: orangered;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#9900ff;
    padding: 10px;
}
.leftheading h2{
    font-size: 40px;
    color: white;
    font-family: 'Baloo 2', cursive;
}
.rightheading ul{
    color: white;
  display: flex;
   gap: 40px;
   align-items: center;
   justify-content: center;
   font-family: 'Baloo 2', cursive;
   font-size: 20px;
}
nav{
    display: flex;
    gap: 250px;
}
button{
    font-family: 'Baloo 2', cursive;
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 232, 232);
    padding: 8px 20px;

}
button a{
    font-size: 20px;
    color: #9900ff;
    justify-content: space-around;
}
.pagesContainer{
    background-color: #9900ff;
    padding: 100px 500px ;
    margin-top: 1px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Baloo 2', cursive;
    border-radius: 0% 0% 30% 30%;
    
}
.pagesContainer .pages{
    color: white;
    background-color: #bf72f36b;
    padding: 50px 20px;
    border-radius: 40%;
}
.pagesContainer .pages h1{
    font-size: 50px;
    padding-bottom: 30px;
}
.testimonial{
    margin: 100px 0px ;

}
.testimonial h4{
    padding-top: 20px;
    font-size: 30px;
    color: orangered;
    text-align: center;

}
.testimonial h2{
    font-size: 50px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}
.clientContainer{
    margin: 40px 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 30px;
}
.clientContainer .clientscard{
    height: 200px;
    width: 500px;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 20px;
    font-family: 'Baloo 2', cursive;
}
.clientscard .client{
    padding: 30px 0px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
}
.clientscard .icon{
    display: flex;
    gap: 10px;
}
.clientscard .icon i{
    font-size: 80px;
    color: #9900ff;
    padding-left: 0px;
}
.clientscard .client img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.arrow{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.arrow .larrow{
    background-color: #f2f2f2;
    /* padding: 20px; */
    border-radius: 50%;
}
.arrow .larrow h2{
    font-size: 50px;
    padding: 20px;
}
.arrow .rarrow{
    background-color: #f2f2f2;
    /* padding: 20px; */
    border-radius: 50%;
}
.arrow .rarrow h2{
    font-size: 50px;
    padding: 20px;
}
